#header-logo{
    margin-left: 40px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.header-nav{
    margin-right: 40px;
    
}

#nameApp {
    align-items: center;
    text-align: center;
    color: rgb(19, 150, 238);
}
